<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          menu
      </mat-icon>
  </button>

  <button mat-button routerLink="/app">{{title}}</button>

</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" color="primary">
      <img class="avatar mat-elevation-z8" src="{{(crud.user_photo) ? crud.user_photo : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'}}"/>

      <h4 class="name">{{crud.user_email}}</h4>

      <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/app']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
<!--
        <button mat-button class="menu-button" [routerLink]="['./perfil']">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button> -->

        <button mat-button class="menu-button" [routerLink]="['./meus-livros']">
            <mat-icon>menu_book</mat-icon>
            <span>Meus Livros</span>
        </button>

        <!-- <button mat-button class="menu-button" [routerLink]="['./biblioteca']" >
          <mat-icon>local_library</mat-icon>
          <span>Biblioteca</span>
        </button>

        <button mat-button class="menu-button" [routerLink]="['./livro']">
          <mat-icon>menu_book</mat-icon>
          <span>Livros</span>
        </button>

        <button mat-button class="menu-button" [routerLink]="['./autor']" >
          <mat-icon>local_library</mat-icon>
          <span>Autores</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>Sobre</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>contact_mail</mat-icon>
            <span>Contato</span>
        </button> -->

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>

    </mat-sidenav>
      <mat-sidenav-content>
          <div class="content">
              <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
