<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcador de Livros</title>
  <meta name="description" content="">
</head>

<body>
  <header></header>

  <main class="main">
    <section class="conteudo1">
      <div class="conteudo1-escrito">
        <h1 class="conteudo1-titulo">Marcador de Livros</h1>
        <h2 class="conteudo1-subtitulo">Tudo sobre os seus livros preferidos</h2>
        <button mat-raised-button class="conteudo1-botao">Acessar</button>
      </div>
      <img class="conteudo1-imagem" src="../../../../../../assets/images/book.png" alt="Icone de livro">
    </section>

    <section class="conteudo2">
      <h3 class="conteudo2-titulo">O que é?</h3>
      <p class="conteudo2-paragrafo">. Organize os livros da sua coleção de uma forma mais prática</p>
      <p class="conteudo2-paragrafo">. Tenha acesso a tudo sobre os seus livros através de qualquer dispositivo</p>
      <p class="conteudo2-paragrafo">. Classifique os livros que já leu, e adicione à sua lista os livros que deseja ler</p>
    </section>
  </main>

  <footer class="footer">

  </footer>

</body>
</html>
