@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Goudy+Bookletter+1911&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(#673AB7, #8162b8);
}

.main {
  // margin-top: 48px;
  margin-bottom: 48px;
}

.conteudo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around ;
}

.conteudo1-escrito {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo1-titulo {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 700;
  font-size: 84px;
  color: white;
}

.conteudo1-subtitulo {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.conteudo1-botao {
  background-color: white;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 700;
  font-size: 24px;
  color: #673AB7;
}

.conteudo1-imagem {
  margin-top: 48px;
  height: 300px;
}

.conteudo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo2-titulo {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
  padding-top: 48px;
  margin-bottom: 32px;
}

.conteudo2-paragrafo {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}
