@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  background: #673AB7;
}

.grid-container {
  color: white;
  background: #673AB7;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: none;
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
}

.flex-parent {
  display: flex;
}
.flex-child {
  text-align: center;
}

.avatar {
  margin-top: 0px;
  // margin-bottom: 10px;
  // margin-right: 20px;
  width: 200px;
  height: 200px;
  // border-radius: 50%;
}

.button {
  color: #673AB7;
  flex-direction: row;
  height: 50px;
  width: 200px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

mat-icon {
  margin-right: 10px;
}

.titulo {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

.subtitulo {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.fonte-titulo {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.fonte {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: baseline;
  justify-content: center;
}
