<div class="grid-container">

  <div class="abc">
    <div class="xyz">
      <h1 class="mat-h1">Meus Livros</h1>
      <!-- <h3 class="mat-h3">Organize sua lista de leitura</h3> -->
    </div>

    <div class="demo-button-container">
      <button mat-raised-button color="primary" class="menu-button" (click)="openDialogAdd()">
        <mat-icon>add</mat-icon>
        <span>Adicionar livros</span>
      </button>
      <!-- <button mat-raised-button class="demo-button">
        Add data
      </button> -->
    </div>

  </div>

  <form [formGroup]="formLivro" (ngSubmit)="addLivro()">
    <h2>Cadastrar Livro</h2>

    <mat-form-field class="full-width-input">
      <mat-label>Titulo</mat-label>
        <input formControlName="titulo" matInput type="titulo">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Autor</mat-label>
        <input formControlName="autor" matInput type="autor">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Genero</mat-label>
        <input formControlName="genero" matInput type="genero" >
    </mat-form-field>

    <button mat-raised-button color="primary">CADASTRAR</button><br><br>

  </form>

  <!-- <div class="demo-button-container">
    <button mat-raised-button class="demo-button">
      Add data
    </button>
  </div> -->

  <table mat-table [dataSource]="crud.lista" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef> Gênero </th>
      <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editLivro(element)">Editar</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef> Excluir </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteLivro(element.id)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br>

</div>
