.abc {
  display: flex;
}

.menu-button {
  margin-left: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

  mat-icon {
    margin-right: 5px;
    margin-left: -5px;
  }
}

.demo-button-container {
  flex: 1;
  text-align: end;
}

.grid-container {
  margin: 20px;
}

table {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-elevation-z8 {
  margin-bottom: 10px;
}

.full-width-input {
  font-family: 'Quicksand', sans-serif;
}

.fonte {
  font-family: 'Quicksand', sans-serif;
}

.fonte-titulo {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
