.grid-container {
  margin: 20px;
}

table {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

td, th {
  width: 25%;
}

.fonte {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
