// topo
.avatar {
  margin-top: 0px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: none;
}
.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
  text-align: center;
}

// conteúdo
.mat-grid-tile-content {
  justify-content: left;
  font-size: larger;
}

.mat-body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

// tabela
table {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.mat-elevation-z8 {
  margin-bottom: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.table-space {
  margin-bottom: 30px;
  margin-top: 30px;
}
