<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="grid-container">
    <h1 class="titulo">Contato</h1>
    <mat-card class="dashboard-card">
      <mat-card-content>
        <form>
          <h2 class="titulo">Envie uma mensagem</h2>
          <!-- <mat-error *ngIf="loginInvalid">
            The username and password were not recognized
          </mat-error> -->
          <mat-form-field class="full-width-input">
            <input type="text" matInput placeholder="Nome completo" >
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" >
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>Mensagem</mat-label>
            <textarea matInput placeholder="Comentários, dúvidas, sugestões..."></textarea>
          </mat-form-field>
          <!-- <mat-form-field class="full-width-input">
            <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field> -->
          <button [routerLink]="['/']" mat-raised-button color="primary">Enviar</button><br><br>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</body>
</html>
