@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  background: linear-gradient(#673AB7, #673AB7B6) ;
}

.grid-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}

.dashboard-card {
  background: none;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.titulo {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
}

form {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

textarea{
  height: 100px;
}
