.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

.flex-child1 {
  flex: 1;
  text-align: center;
}

.mat-body {
  font-weight: bold;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
