.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
