<h2 mat-dialog-title>{{title}} Livro</h2>
<div mat-dialog-content class="mat-typography">
        <!-- <h2>Cadastrar Livro</h2> -->

        <mat-form-field class="full-width-input">
          <mat-label>Titulo</mat-label>
            <input matInput [(ngModel)]="modalData.titulo">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Autor</mat-label>
            <input matInput [(ngModel)]="modalData.autor">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Genero</mat-label>
            <input matInput [(ngModel)]="modalData.genero" >
        </mat-form-field>

        <!-- <button mat-raised-button color="primary">CADASTRAR</button><br><br> -->

      </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="modalData" cdkFocusInitial>{{title}}</button>
</div>

