@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Goudy+Bookletter+1911&display=swap');

.fonte-titulo {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 700;
  font-size: 28px;
  color: #673AB7;
}

.fonte {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.grid-container {
  margin: 20px;
  text-align: center;
}
