<div class="grid-container">
  <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <h2 class="fonte-titulo">Login</h2>
        <!-- <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error> -->
        <p>
          <mat-form-field class="full-width-input">
            <input autocomplete="off" formControlName="email" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" >
            <mat-error *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('required')">
              <strong>Insira um e-mail válido</strong>
            </mat-error>
            <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
              <strong>Insira um e-mail</strong>
            </mat-error> -->
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width-input">
            <mat-label>Enter your password</mat-label>
              <input autocomplete="off" formControlName="password" type="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary" class="fonte-titulo">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button><br><br>

      </form>

      <button [routerLink]="['./forgot-password']" mat-button color="primary" class="fonte-titulo">Esqueceu sua senha?</button>
      <button [routerLink]="['./register']" mat-button color="primary" class="fonte-titulo">Novo aqui? Cadastre-se</button>
      <hr>
      <br>

      <button mat-raised-button color="warn" (click)="authService.googleSignin()" class="fonte-titulo">
        <mat-icon>mail</mat-icon>
        <span>Entre com Google</span>
      </button><br><br>

  </mat-card>
</div>
