mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  font-family: 'Quicksand', sans-serif;
}

.grid-container {
  margin: 20px;
  text-align: center;
}

.fonte-titulo {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
