<div class="grid-container">
  <h1 class="mat-h1">Redefinir senha</h1>
    <mat-card>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

          <p>Informe o e-mail cadastrado no site</p>
          <p>
            <mat-form-field class="full-width-input">
              <input formControlName="email" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" >
            </mat-form-field>
          </p>
          <!-- <p>
              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
              </mat-form-field>
          </p> -->

          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
              <span>{{ firebaseErrorMessage }}</span>
          </div>

          <button mat-raised-button color="primary" [disabled]="mailSent">Enviar</button>
          <div *ngIf="mailSent">
            <br>
              <p>O e-mail foi enviado!</p>
              <button mat-raised-button color="primary" routerLink="/login">
                  <!-- <mat-icon>home</mat-icon> -->
                  <span>Fazer login</span>
              </button>
          </div>
      </form>
    </mat-card>
</div>
