<div class="grid-container">
    <mat-card>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">
        <h1 class="fonte-titulo">REDEFINIR SENHA</h1>
          <p class="fonte">Informe o e-mail cadastrado no site</p>
          <p>
            <mat-form-field class="full-width-input">
              <mat-label class="fonte">Ex. exemplo@email.com</mat-label>
              <input formControlName="email" type="email" matInput [formControl]="emailFormControl" class="fonte">
            </mat-form-field>
          </p>
          <!-- <p>
              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
              </mat-form-field>
          </p> -->

          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
              <span class="fonte">{{ firebaseErrorMessage }}</span>
          </div>

          <button mat-raised-button color="primary" [disabled]="mailSent" class="fonte">Enviar</button>
          <div *ngIf="mailSent">
            <br>
              <p class="fonte">O e-mail foi enviado!</p>
              <button mat-raised-button color="primary" routerLink="/login">
                  <!-- <mat-icon>home</mat-icon> -->
                  <span class="fonte">Fazer login</span>
              </button>
          </div>
      </form>
    </mat-card>
</div>
