<div class="grid-container">
  <mat-card>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <h2 class="fonte-titulo">Cadastre-se</h2>
        <!-- <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error> -->
        <p>
          <mat-form-field class="full-width-input">
            <mat-label class="fonte">Nome completo</mat-label>
            <input autocomplete="off" formControlName="displayName" type="text" matInput class="fonte">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width-input">
            <mat-label class="fonte">Ex. exemplo@email.com</mat-label>
            <input formControlName="email" type="email" matInput [formControl]="emailFormControl" class="fonte">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width-input">
            <mat-label class="fonte">Insira a sua senha</mat-label>
              <input class="fonte" autocomplete="off" formControlName="password" type="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>


        <button mat-raised-button color="primary" class="fonte">
        <mat-icon>person_add_alt_1</mat-icon>
          Criar perfil
        </button><br><br>
      </form>

      <!-- <button [routerLink]="['./forgot-password']" mat-button color="primary">Esqueceu sua senha?</button> -->
      <button [routerLink]="['../']" mat-button color="primary" class="fonte">Já é cadastrado? Entrar</button>

      <hr>
      <br>

      <button mat-raised-button color="warn" (click)="authService.googleSignin()">
        <mat-icon>email</mat-icon>
        <span class="fonte">Entre com Google</span>
      </button><br><br>

  </mat-card>
</div>
