<div class="grid-container">
  <h1 class="mat-h1">Cadastre-se</h1>
  <mat-card>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <h2>Cadastro</h2>
        <!-- <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error> -->
        <p>
          <mat-form-field class="full-width-input">
            <input autocomplete="off" formControlName="displayName" type="text" matInput placeholder="Nome completo" >
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width-input">
            <input formControlName="email" type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" >
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width-input">
            <mat-label>Enter your password</mat-label>
              <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>


        <button [routerLink]="['../']" mat-raised-button color="primary">Criar perfil</button><br><br>
        <!-- <button [routerLink]="['./']" mat-button color="primary">Esqueceu sua senha?</button> -->
        <button [routerLink]="['../']" mat-button color="primary">Já é cadastrado? Entrar</button>
      </form>
  </mat-card>
</div>
